# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.env
*.env
.venv/
venv/
env/

# Databases
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
.cache/

# Build artifacts
*.egg-info/
build/
*.spec

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
